html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
}
header .burger {
  background-image: url(../../assets/icons/Burger-dark.svg);
  width: 30px;
  height: 22px;
  display: none;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  box-sizing: border-box;
  width: auto;
  margin-right: 24px;
}
nav a:hover {
  color: #292929;
}
nav a:last-child {
  margin-right: 0;
}
nav .active {
  width: fit-content;
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}

.menu {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  height: 100%;
  background-color: #292929;
  padding-left: 10px;
  transition: transform 0.4s;
}
.menu .burger {
  transform: rotate(90deg);
  background-image: url(../../assets/icons/burger.svg);
}
.menu .menu_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  margin-top: 158px;
}
.menu .menu_wrapper .active {
  color: #FAFAFA;
}
.menu .menu_wrapper a {
  font-size: 32px;
  color: #CDCDCD;
}
.menu .logo {
  width: auto;
}
.menu .logo p {
  color: #FFFFFF;
}
.menu .logo h1 {
  color: #F1CDB3;
}

.activate {
  transform: translateX(0);
}

.logo {
  width: auto;
}
.logo p {
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin: 0px;
  color: #292929;
}
.logo h1 {
  margin: 0px;
  font-family: "Georgia";
  letter-spacing: 0.06em;
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 10px;
  color: #545454;
  font-weight: 400;
}

.pets {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;
}
.pets h2 {
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  font-size: 35px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  width: 400px;
  margin: 0;
}
.pets .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets .pagination {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(5, 52px);
  grid-column-gap: 20px;
}
.pets .pagination .element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  color: #292929;
  font-size: 20px;
  line-height: 115%;
}
.pets .pagination .element:hover {
  cursor: default;
}
.pets .pagination .disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
}
.pets .pagination .fill {
  background-color: #F1CDB3;
}
.pets .pagination .active:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-top: 60px;
}

.card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 9px;
  background: #FAFAFA;
  justify-items: center;
  padding-bottom: 30px;
  min-width: 270px;
}
.card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover button {
  background-color: #FDDCC4;
  cursor: pointer;
}
.card p {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}
.card button {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 15px 45px;
  width: 187px;
  height: 52px;
  background-color: #FAFAFA;
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6%;
  color: #292929;
}
.card button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

footer {
  padding-top: 40px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
footer .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
footer .content .element {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 20px;
  margin-top: 32px;
  height: 52px;
}
footer .content .element a {
  text-decoration: none;
  color: Arial, Helvetica, sans-serif;
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  font-size: 20px;
  color: #F1CDB3;
}
footer .content h3 {
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 6%;
  margin: 0;
}
footer .contacts {
  justify-self: start;
  width: 280px;
}
footer .location {
  width: 302px;
}
footer img {
  justify-self: end;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 708px;
  }

  .pets .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 65px;
  }
  footer .content .element {
    margin-top: 0;
  }
  footer .contacts, footer .location {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 300px;
  }

  header {
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 43px;
    justify-content: flex-start;
  }
  header .burger {
    display: block;
  }

  nav > a {
    display: none;
  }

  .pets {
    padding: 42px 0 42px 0;
  }
  .pets .card:nth-child(n+4) {
    display: none;
  }
  .pets h2 {
    font-size: 25px;
    width: 286px;
  }
  .pets .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .pets .pagination {
    column-gap: 10px;
  }

  footer {
    padding-top: 30px;
  }
  footer .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 40px;
  }
  footer .content .element {
    margin-top: 0;
    display: flex;
  }
  footer .content .element a {
    width: auto;
  }
  footer .contacts, footer .location {
    display: flex;
    row-gap: 40px;
    align-items: center;
    flex-direction: column;
  }
  footer .contacts h3, footer .location h3 {
    text-align: center;
    font-size: 25px;
  }
  footer .location {
    align-items: flex-start;
  }
  footer .footer-puppy {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
