$default-font: Arial, Helvetica, sans-serif;
$primary-color: #F1CDB3;
$default-link-color: #545454;
$link-color-hover: #292929;

html{
  scroll-behavior: smooth;
}

@mixin header-2 {
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
}

body{
  font-family: $default-font;
  
}

.header{
  position: sticky;
  top: 0;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  .burger{
    background-image: url(../../assets/icons/Burger-dark.svg);
    width: 30px;
    height: 22px;
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    text-decoration: none;
    font-family: $default-font;
    font-size: 15px;
    line-height: 160%;
    color: $default-link-color;
    box-sizing: border-box;
    width: auto;
    margin-right: 24px;

    &:hover {
      color: $link-color-hover;
    }

    // &:active{
    //   border-bottom: 3px solid $primary-color;
    // }

  }

  a:last-child{
    margin-right: 0;
  }

  .active {
    width: fit-content;
    border-bottom: 3px solid $primary-color;
    color: $link-color-hover;
  }
}

.menu{
  transform: translateX(100%);
  position: fixed;
	top: 0;
	right: 0;
	width: 310px;
	height: 100%;
  background-color: #292929;
  padding-left: 10px;
	
	transition: transform 0.4s; 

  .burger{
    transform: rotate(90deg);
    background-image: url(../../assets/icons/burger.svg);
  }

  .menu_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    margin-top: 158px;

    .active{
      color: #FAFAFA;
    }

    a{
      font-size: 32px;
      color: #CDCDCD;
    }
  }

  .logo{
    width: auto;
  
    p{

      color: #FFFFFF;
    }
  
    h1{

      color: $primary-color;

    }
  }
}

.activate {
	transform: translateX(0);
  box-shadow: 0px 0px 0px 9999px rgba(41, 41, 41, 0.6);
}

.popup{
  display: none;
  flex-direction: column;
  padding-right: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .close{
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 890px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-image: url(../../assets/icons/cross.svg); 
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center center;

    &:hover{
      background-color: #FDDCC4;
      cursor: pointer;
    }
  }

  .popup_window{
    box-shadow: 0px 0px 0px 9999px rgb(41 41 41 / 60%);
    border-radius: 9px;
    height: auto;
    width: 900px;
    display: flex;
    column-gap: 29px;
    background: #FAFAFA;
    align-items: center;

    img{
      width: 500px;
      height: 500px;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }

    .content{
      align-items: center;
      color: #000000;
      font-family: 'Georgia';
      font-style: normal;
      line-height: 130%;
      letter-spacing: 0.06em;
      margin-right: 18px;
      

      h3{
        margin: 0;
        font-size: 35px;
        font-weight: 400;
        line-height: 130%;
      }

      h4{
        margin: 0;
        margin-top: 10px;
        font-size: 20px;
        line-height: 115%;
        font-weight: 400;
      }

      h5{
        margin: 0;
        margin-top: 40px;
        font-weight: 400;
        font-size: 15px;
      }

      ul{
        margin: 0;
        padding-left: 20px;
        margin-top: 40px;

        span:first-child{
          font-weight: 700;
        }

        li::marker{
          color: $primary-color;
        }

      }
    }
  } 
}

.logo {
  width: auto;

  p {
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 15px;
    margin: 0px;
    color: #292929;
  }

  h1 {
    margin: 0px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 10px;
    color: #545454;
    font-weight: 400;
  }

}

.pets{
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;

  h2{
    @include header-2();
    font-size: 35px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    width: 400px;
    margin: 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pagination{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(5, 52px);
    grid-column-gap: 20px;

    .element{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid $primary-color;
      @include header-2();
      color: #292929;
      font-size: 20px;
      line-height: 115%;

      &:hover{
        cursor: default;
      }
      
    }

    .disabled{
      border-color: #CDCDCD;
      color: #CDCDCD;

      // &:hover{
      //   cursor: default;
      // }
    }

    .fill{
      background-color: $primary-color;
    }

    .active{
      &:hover{
        background-color: #FDDCC4;
        cursor: pointer;
      }
    }
  }
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-top: 60px;
}

.card{
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 9px;
  background: #FAFAFA;
  justify-items: center;
  padding-bottom: 30px;
  min-width: 270px;

  img{
    border-top-left-radius: 9px;
     border-top-right-radius: 9px;
  }

  &:hover{
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);


    button{
      background-color: #FDDCC4;
      cursor: pointer;
    }
  }

  p{
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    @include header-2();
    font-size: 20px;
    line-height: 23px;
    color: #545454;
  }

  button {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    background-color: #FAFAFA;
    @include header-2();
    letter-spacing: 6%;
    color: #292929;

    &:hover{
      background-color: #FDDCC4;
      cursor: pointer;
    }
  }
}

footer {
  padding-top: 40px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%,
      #513D2F 0%, #1A1A1C 100%), #211F20;

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    .element {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-column-gap: 20px;
      margin-top: 32px;
      height: 52px;

      a {
        text-decoration: none;
        color: $default-font;
        @include header-2();
        font-size: 20px;
        color: $primary-color;
      }
    }

    h3 {
      @include header-2();
      font-size: 35px;
      color: #ffffff;
      letter-spacing: 6%;
      margin: 0;
    }
  }

  .contacts {
    justify-self: start;
    width: 280px;
  }

  .location {
    width: 302px;
  }

  img {
    justify-self: end;
  }
}

//768px <= width < 1280px
@media  (max-width: 1279px) { 
  .container{
    width: 708px;
  }

  .pets{

    .wrapper{
      grid-template-columns: repeat(2, 1fr);
    }
  }


  footer{
    .content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 60px;
      row-gap: 65px;

      .element{
        margin-top: 0;
      }
    }

    .contacts, .location{
      display: grid;
      grid-template-rows: repeat(3, auto);
      row-gap: 40px;
    } 
  }

  .popup{
    .close{
      left: 622px;
    }
    .popup_window{
      width: 630px;
      column-gap: 11px;

      img{
        height: 350px;
        width: 350px;
      }

      .content{
        margin-right: 9px;
        h5{
          margin-top: 20px;
          font-size: 13px;
          line-height: 110%;
        }

        ul{
          margin-top: 20px;

          li{
            font-size: 15px;
          }
        }
      }
      
    }
  }
}

//320px <= width < 768px
@media (max-width: 767px) {
  .container{
    width: 300px;
  }

  header{
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 43px;
    justify-content: flex-start;

    .burger{
      display: block;
    }
  }

  nav > a{
    display: none;
  }

  .pets{
    padding: 42px 0 42px 0;

    .card:nth-child(n+4) {
      display: none; 
    }

    h2{
      font-size: 25px;
      width: 286px;
    }

    .wrapper{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .pagination{
      column-gap: 10px;
    }
  }

  footer{
    padding-top: 30px;

    .content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 60px;
      row-gap: 40px;

      .element{
        margin-top: 0;
        display: flex;

        a{
          width: auto;
        }
      }
    }

    .contacts, .location{
      display: flex;
      row-gap: 40px;
      align-items: center;
      flex-direction: column;
      
      h3{
        text-align: center;
        font-size: 25px;
      }
    }

    .location{
      align-items: flex-start;
    }

    .footer-puppy{
      width: 80%;
    }
  }

  .popup{
    padding: 0;
    .close{
      left: 240px;
    }
    .popup_window{
      width: 250px;

      img{
        display: none;
      }

      .content{
        margin: 10px;
        display: flex;
        flex-direction: column;
      }
      
     }
  }
}