$default-font: Arial, Helvetica, sans-serif;
$primary-color: #F1CDB3;
$default-link-color: #545454;
$link-color-hover: #292929;

html{
  scroll-behavior: smooth;
}

@mixin header-2 {
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
}

body{
  font-family: $default-font;
  
}

.header{
  position: sticky;
  top: 0;
  min-height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  position: sticky;

  a {
    text-decoration: none;
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-column: 3 / 4;

  a {
    text-decoration: none;
    font-family: $default-font;
    font-size: 15px;
    line-height: 160%;
    color: $default-link-color;
    box-sizing: border-box;
    width: auto;

    &:hover {
      color: $link-color-hover;
    }

    // &:active{
    //   border-bottom: 3px solid $primary-color;
    // }

  }

  .active {
    border-bottom: 3px solid $primary-color;
    color: $link-color-hover;
  }
}

.logo {
  width: auto;

  p {
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 15px;
    margin: 0px;
    color: #292929;
  }

  h1 {
    margin: 0px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 10px;
    color: $primary-color;
    font-weight: 400;
  }

}

.pets{
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;

  h2{
    @include header-2();
    font-size: 35px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    width: 400px;
    margin: 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pagination{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(5, 52px);
    grid-column-gap: 20px;

    .element{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid $primary-color;
      @include header-2();
      color: #292929;
      font-size: 20px;
      line-height: 115%;

      &:hover{
        cursor: pointer;
      }
      
    }

    .disabled{
      border-color: #CDCDCD;
      color: #CDCDCD;
    }

    .fill{
      background-color: $primary-color;
    }
  }
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-top: 60px;
}

.card{
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 9px;
  background: #FAFAFA;
  justify-items: center;
  padding-bottom: 30px;
  min-width: 270px;

  &:hover{
    background-color: #FFFFFF;
    cursor: pointer;

    button{
      background-color: #FDDCC4;
      cursor: pointer;
    }
  }

  p{
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    @include header-2();
    font-size: 20px;
    line-height: 23px;
    color: #545454;
  }

  button {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    background-color: #FAFAFA;
    @include header-2();
    letter-spacing: 6%;
    color: #292929;

    &:hover{
      background-color: #FDDCC4;
      cursor: pointer;
    }
  }
}





footer {
  padding-top: 40px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%,
      #513D2F 0%, #1A1A1C 100%), #211F20;

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    .element {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-column-gap: 20px;
      margin-top: 32px;
      height: 52px;

      a {
        text-decoration: none;
        color: $default-font;
        @include header-2();
        font-size: 20px;
        color: $primary-color;
      }
    }

    h3 {
      @include header-2();
      font-size: 35px;
      color: #ffffff;
      letter-spacing: 6%;
      margin: 0;
    }
  }

  .contacts {
    justify-self: start;
    width: 280px;
  }

  .location {
    width: 302px;
  }

  img {
    justify-self: end;
  }
}