$default-font: Arial, Helvetica, sans-serif;
$primary-color: #F1CDB3;
$default-link-color: #CDCDCD;
$link-color-hover: #FAFAFA;


body{
  font-family: $default-font;
}

header{
  padding-top: 60px;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-column: 3 / 4;

  a{
    text-decoration: none;
    font-family: $default-font;
    font-size: 15px;
    line-height: 160%;
    color: $default-link-color;
    box-sizing: border-box;
    width: auto;

    &:hover{
      color: $link-color-hover;
    }

    // &:active{
    //   border-bottom: 3px solid $primary-color;
    // }

  }

  .active{
    border-bottom: 3px solid $primary-color;
    color: $link-color-hover;
  }
  
}

.logo{
  width: auto;

  p{
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 15px;
    margin: 0px;
    color: #FFFFFF;
  }

  h1{
    margin: 0px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 10px;
    color: $primary-color;
    font-weight: 400;
  }
}

.start-screen{
  background-image: url("../../assets/images/start-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.start-screen_content{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content{
    margin-top: 163px;
    width: 460px;

    h2{
      margin: 0;
      font-family: Georgia;
      font-size: 44px;
      font-weight: 400;
      line-height: 130%;
      width: 310px;
      color: #FFFFFF;
    }

    p{
      margin-top: 32px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $default-link-color;
    }

    button{
      margin-top: 42px;
      border: none;
      border-radius: 100px;
      padding: 15px 45px;
      background: $primary-color;
      font-family: Georgia;
      font-weight: 400;
      font-size: 17px;
      letter-spacing: 6%;
    }
  }
}